<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Kinderhaus Priestewitz | Startseite</title>
<link rel="stylesheet" href="/assets/css/bulma.css">
<link rel="stylesheet" href="/assets/css/global.css">
<link rel="stylesheet" href="/assets/css/home.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/skipper-slider@1.2.1/dist/skippr.css">
<script src="/assets/js/global.js"></script>
<script defer src="/assets/vendor/fontawesome/js/all.min.js"></script>
